<div class="card-wrapper">
<div class="card-container">
    <div class="card">
        <img class="card-img" src="https://madebydesignesia.com/themes/almaris/demo/preview/homepage-1.webp" alt="card 1">
        <span class="text-below-card">HomePage Main</span>  
    </div>


    <div class="card">
        <img class="card-img" src="https://madebydesignesia.com/themes/almaris/demo/preview/homepage-11.webp" alt="card 1">
        <span class="text-below-card">HomePage Ski Resort</span>  
    </div>

    <div class="card">
        <img class="card-img" src="https://madebydesignesia.com/themes/almaris/demo/preview/homepage-10.webp" alt="card 1">
        <span class="text-below-card">HomePage Holiday</span>  
    </div>

    <div class="card">
        <img class="card-img" src="https://madebydesignesia.com/themes/almaris/demo/preview/homepage-9.webp" alt="card 1">
        <span class="text-below-card">HomePage Elegant</span>  
    </div>
    

    <div class="card">
        <img class="card-img" src="https://madebydesignesia.com/themes/almaris/demo/preview/homepage-7.webp" alt="card 1">
        <span class="text-below-card">HomePage Bold</span>  
    </div>
    
    <div class="card">
        <img class="card-img" src="https://madebydesignesia.com/themes/almaris/demo/preview/homepage-8.webp" alt="card 1">
        <span class="text-below-card">HomePage Bold 2</span>  
    </div>

    <div class="card">
        <img class="card-img" src="https://madebydesignesia.com/themes/almaris/demo/preview/homepage-6.webp" alt="card 1">
        <span class="text-below-card">HomePage Modern 2</span>  
    </div>

    <div class="card">
        <img class="card-img" src="https://madebydesignesia.com/themes/almaris/demo/preview/homepage-3.webp" alt="card 1">
        <span class="text-below-card">HomePage Beach Resort</span>  
    </div>


    <div class="card">
        <img class="card-img" src="https://madebydesignesia.com/themes/almaris/demo/preview/homepage-4.webp" alt="card 1">
        <span class="text-below-card">HomePage city Apartment</span>  
    </div>


    <div class="card">
        <img class="card-img" src="https://madebydesignesia.com/themes/almaris/demo/preview/homepage-2.webp" alt="card 1">
        <span class="text-below-card">HomePage Mountain Hotel</span>  
    </div>


    <div class="card">
        <img class="card-img" src="https://madebydesignesia.com/themes/almaris/demo/preview/homepage-5.webp" alt="card 1">
        <span class="text-below-card">HomePage Modern</span>  
    </div>

</div>
</div>

<div class="card-wrapper02">
  <div class="section-golden">
  </div>
</div>