<div class="card-wrapper">
    <div class="card-container">
        <div class="card">
            <img class="card-img" src="https://madebydesignesia.com/themes/almaris/demo/preview/rooms.webp" alt="card 1">
            <span class="text-below-card">Rooms</span>  
        </div>
    
    
        <div class="card">
            <img class="card-img" src="https://madebydesignesia.com/themes/almaris/demo/preview/room-single.webp" alt="card 1">
            <span class="text-below-card">Room Single</span>  
        </div>
    
        <div class="card">
            <img class="card-img" src="https://madebydesignesia.com/themes/almaris/demo/preview/room-single-style-2.webp" alt="card 1">
            <span class="text-below-card">Room Single Style 2</span>  
        </div>
    
        <div class="card">
            <img class="card-img" src="https://madebydesignesia.com/themes/almaris/demo/preview/reservation.webp" alt="card 1">
            <span class="text-below-card">Reservation</span>  
        </div>
        
    
        <div class="card">
            <img class="card-img" src="https://madebydesignesia.com/themes/almaris/demo/preview/special-offers.webp" alt="card 1">
            <span class="text-below-card">Special Offers</span>  
        </div>
        
        <div class="card">
            <img class="card-img" src="https://madebydesignesia.com/themes/almaris/demo/preview/special-offer-single.webp" alt="card 1">
            <span class="text-below-card">Special Offer Single</span>  
        </div>
    
        <div class="card">
            <img class="card-img" src="https://madebydesignesia.com/themes/almaris/demo/preview/about.webp" alt="card 1">
            <span class="text-below-card">About</span>  
        </div>
    
        <div class="card">
            <img class="card-img" src="https://madebydesignesia.com/themes/almaris/demo/preview/facilities.webp" alt="card 1">
            <span class="text-below-card">Facilities</span>  
        </div>
    
    
        <div class="card">
            <img class="card-img" src="https://madebydesignesia.com/themes/almaris/demo/preview/gallery.webp" alt="card 1">
            <span class="text-below-card">Gallery</span>  
        </div>
    
    
        <div class="card">
            <img class="card-img" src="https://madebydesignesia.com/themes/almaris/demo/preview/gallery-carousel.webp" alt="card 1">
            <span class="text-below-card">Gallery Carousel</span>  
        </div>
    
    
        <div class="card">
            <img class="card-img" src="https://madebydesignesia.com/themes/almaris/demo/preview/news.webp" alt="card 1">
            <span class="text-below-card">News</span>  
        </div>

        <div class="card">
            <img class="card-img" src="https://madebydesignesia.com/themes/almaris/demo/preview/news-single.webp" alt="card 1">
            <span class="text-below-card">News Single</span>  
        </div>
        

        <div class="card">
            <img class="card-img" src="https://madebydesignesia.com/themes/almaris/demo/preview/contact.webp" alt="card 1">
            <span class="text-below-card">Contact</span>  
        </div>
    
    
    </div>
    </div>
    
    <div class="card-wrapper02">
      <div class="section-golden">
      </div>
    </div>
